html, body {
    height: 100%;
    /* background-color: #264653; Dark mode color; change based on preference */
    background-color: #fbf5f3; /* Dark mode color; change based on preference */
    /* Dot matrix background effect */
    background-image: radial-gradient(#bbb 2px, transparent 2px),
                      radial-gradient(#bbb 2px, transparent 2px);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    font-family: 'Nunito', sans-serif;
  }
  
  /* Other styles, animations, and glowing effects come here. */
  /* Use classes to switch between dark and light modes. */
  